body{
    background-color: #015C65;
}

input{
    max-width: 120px;
    display: inline;
}

select{
    max-width: 120px;
}

.settings{
    background-color: #028E9B;
}

.genBtn{
    margin: 10px auto 10px auto;
    text-align: center;
}

button{
    background-color: #028E9B;
    padding: 5px;
    border: 1px solid yellow;
    border-radius: 5px;
    color: yellow;
}

.result{
    max-width: 200px;
    min-height: 200px;
    background: yellow;
    margin: 20px auto 20px auto;
    text-align: center;
    padding: 10px;
    font-size: large;
}